@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-midnight-950: #020617;
  --color-midnight-900: #0f172a;
  --color-midnight-800: #1e293b;
  
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-glass-bg: rgba(0, 0, 0, 0.4);
}

:root {
  --background: #020617; /* midnight-950 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
